#clockContainer{
    margin: auto;
    border: 2px solid red;
    background: url(pngwing.com.png);
    background-size: 100%;
    height: 40vw;
    width: 40vw;
}

#hour, #min, #sec{
    position: absolute;
    background: black;
    border-radius: 10px;
    
}
#hour{
    height: 12vw;
    width: 1vw;
    margin-top: 8vw;
    margin-left: 19.5vw;
}
#min{
    height: 14vw;
    width: 0.5vw;
    margin-top: 6vw;
    margin-left: 19.7vw;
    opacity: 0.8;
}
#sec{
    height: 16vw;
    width: 0.3vw;
    margin-top: 4vw;
    margin-left: 19.8vw;
    opacity: 0.8;

}